name: Build Packages

on:
  push:
    paths-ignore:
    - 'doc/**'
    - '**.md'
    - 'appveyor.yml'
    - '.travis.yml'
  pull_request:
    paths-ignore:
    - 'doc/**'
    - '**.md'
    - 'appveyor.yml'
    - '.travis.yml'

env:
  QT_VERSION: 5.12.10
  QTCREATOR_VERSION: 5.0.3
  VERSION: 2022.1
  THUNDER_RELEASE: ${{ startsWith(github.ref, 'refs/tags/2') }}

jobs:
  version:
    name: Determine Thunder version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-version.outputs.version }}
      release: ${{ steps.get-version.outputs.release }}

    steps:
    - name: Get version
      id: get-version
      run: |
        if [[ "$THUNDER_RELEASE" == 'true' ]]; then echo "::set-output name=version::${VERSION}" ; fi
        if [[ "$THUNDER_RELEASE" != 'true' ]]; then echo "::set-output name=version::${VERSION}-SNAPSHOT" ; fi
        echo "::set-output name=release::${THUNDER_RELEASE}"
        
  linux:
    name: Linux
    runs-on: ubuntu-18.04
    needs: version
  
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: recursive
  
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install binutils g++-7 libgl1-mesa-dev zlib1g-dev libzstd-dev p7zip-full xorg-dev libopenal-dev
        
    - name: Install Qt
      run: |
        sudo ./build/install-qt.sh --version ${QT_VERSION} qtbase qtmultimedia qtscript qtsvg qtimageformats qtgraphicaleffects qtquickcontrols2 qttools qtxmlpatterns qtdeclarative qtgamepad icu | tee -a $GITHUB_PATH
        sudo ./build/install-qt.sh --version ${QTCREATOR_VERSION} qtcreator | tee -a $GITHUB_PATH
  
    - name: Setup Qbs
      run: |
        qbs --version
        qbs setup-toolchains --detect
        qbs setup-qt --detect
        qbs config defaultProfile
        qbs config --list
  
    - name: Build Qbs
      if: needs.version.outputs.release == 'true'
      run: |
        qbs build -d thirdparty/qbs -f thirdparty/qbs/qbs.qbs --all-products config:release project.withDocker:false project.withDocumentation:false project.withExamples:false project.withTests:false
  
    - name: Build Thunder
      run: |
        qbs install --all-products config:release
        7z a -t7z ThunderEngine-linux-x86_64.7z release/install-root/
        
    - name: Upload Thunder
      uses: actions/upload-artifact@v2
      with:
        name: ThunderEngine-linux-x86_64.7z
        path: ThunderEngine-linux-x86_64.7z
  
  android:
    name: Android
    runs-on: ubuntu-18.04
    needs: version
  
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2      
      with:
        submodules: recursive
        
    - name: Setup NDK
      uses: nttld/setup-ndk@v1
      with:
        ndk-version: r19c
  
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install binutils g++-7 libgl1-mesa-dev zlib1g-dev libzstd-dev p7zip-full xorg-dev
        
    - name: Install Qt
      run: |
        sudo ./build/install-qt.sh --version ${QTCREATOR_VERSION} qtcreator | tee -a $GITHUB_PATH
  
    - name: Environment
      run: |
        ls /opt/hostedtoolcache/ndk/r19c/x64/toolchains/llvm/prebuilt/linux-x86_64/bin
        sudo mkdir ~/.android
        sudo /usr/lib/jvm/adoptopenjdk-8-hotspot-amd64/bin/keytool -genkey -keystore ~/.android/debug.keystore -alias androiddebugkey -storepass android -keypass android -keyalg RSA -keysize 2048 -validity 10000 -dname 'CN=Android Debug,O=Android,C=US'
  
    - name: Setup Qbs
      run: |
        qbs --version
        qbs setup-android --ndk-dir /opt/hostedtoolcache/ndk/r19c/x64 android
        qbs setup-toolchains --detect
        qbs config --list
  
    - name: Build Thunder
      run: |
        qbs build --all-products config:release qbs.toolchainType:clang profile:android
        7z a -t7z ThunderEngine-android.7z release/install-root/sdk/${VERSION}/android
    
    - name: Upload Thunder
      uses: actions/upload-artifact@v2
      with:
        name: ThunderEngine-android.7z
        path: ThunderEngine-android.7z
    
  osx:
    name: MacOS
    runs-on: macos-latest
    needs: version
    
    env:
        QT_INSTALL_DIR: ~/Qt
        QT_BIN: ${QT_INSTALL_DIR}/${QT_VERSION}/clang_64/bin
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: recursive
       
    - name: Install Qt
      run: |
        sudo ./build/install-qt.sh --version ${QT_VERSION} qtbase qtmultimedia qtscript qtsvg qtimageformats qtgraphicaleffects qtquickcontrols2 qttools qtxmlpatterns qtdeclarative qtgamepad icu | tee -a $GITHUB_PATH
        sudo ./build/install-qt.sh --version ${QTCREATOR_VERSION} qtcreator | tee -a $GITHUB_PATH

    - name: Setup Qbs
      run: |
        qbs --version
        qbs setup-toolchains --detect
        qbs config defaultProfile xcode
        qbs config --list

    - name: Build Qbs
      if: needs.version.outputs.release == 'true'
      run: |
        qbs build -d thirdparty/qbs -f thirdparty/qbs/qbs.qbs --all-products config:release project.withDocker:false project.withDocumentation:false project.withExamples:false project.withTests:false

    - name: Build Thunder
      run: |
        qbs install --all-products config:release
        7z a -t7z ThunderEngine-macosx-x86_64.7z release/install-root
  
    - name: Upload Thunder
      uses: actions/upload-artifact@v2
      with:
        name: ThunderEngine-macosx-x86_64.7z
        path: ThunderEngine-macosx-x86_64.7z
  
  ios:
    name: iOS
    runs-on: macos-latest
    needs: version

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: recursive
       
    - name: Install Qt
      run: |
        sudo ./build/install-qt.sh --version ${QTCREATOR_VERSION} qtcreator | tee -a $GITHUB_PATH

    - name: Setup Qbs
      run: |
        qbs --version
        qbs setup-toolchains --detect
        qbs config --list

    - name: Build Thunder
      run: |
        qbs install --all-products config:release profile:xcode-iphoneos-arm64
        7z a -t7z ThunderEngine-ios-arm64.7z release/install-root/sdk/${VERSION}/ios

    - name: Upload Thunder
      uses: actions/upload-artifact@v2
      with:
        name: ThunderEngine-ios-arm64.7z
        path: ThunderEngine-ios-arm64.7z
    
  tvos:
    name: tvOS
    runs-on: macos-latest
    needs: version

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: recursive
       
    - name: Install Qt
      run: |
        sudo ./build/install-qt.sh --version ${QTCREATOR_VERSION} qtcreator | tee -a $GITHUB_PATH

    - name: Setup Qbs
      run: |
        qbs --version
        qbs setup-toolchains --detect
        qbs config --list
        
    - name: Build Thunder
      run: |
        qbs install --all-products config:release profile:xcode-appletvos-arm64
        7z a -t7z ThunderEngine-tvos-arm64.7z release/install-root/sdk/${VERSION}/tvos

    - name: Upload Thunder
      uses: actions/upload-artifact@v2
      with:
        name: ThunderEngine-tvos-arm64.7z
        path: ThunderEngine-tvos-arm64.7z
    
  windows:
    name: Windows
    runs-on: windows-latest
    needs: version
    
    defaults:
      run:
        shell: bash
    
    env:
        MSVC: 2015
        QT_INSTALL_DIR: /c/Qt

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: recursive
        
    - name: Install Qt
      run: |
        echo "QT_PATH=$(./build/install-qt.sh -d ${QT_INSTALL_DIR} --version ${QT_VERSION} qtbase qtmultimedia qtscript qtsvg qtimageformats qtgraphicaleffects qtquickcontrols2 qttools qtxmlpatterns qtdeclarative qtgamepad)" >> $GITHUB_ENV
        curl http://qt.mirror.constant.com/official_releases/qtcreator/4.15/4.15.2/installer_source/windows_x64/qtcreator.7z -o qtcreator.7z
        ls -l --block-size=M
        7z x -y -o${QT_INSTALL_DIR}/Tools/QtCreator qtcreator.7z
        echo ${QT_INSTALL_DIR}/Tools/QtCreator/bin >> $GITHUB_PATH
        ls ${QT_INSTALL_DIR}/Tools/QtCreator/bin
        
    - name: Setup Qbs
      run: |
        echo $PATH
        qbs --version
        qbs setup-toolchains --detect
        qbs setup-qt ${QT_PATH}/qmake.exe qt
        qbs config --list
    
    - name: Build Qbs
      if: needs.version.outputs.release == 'true'
      run: |
        git apply patches/patch.diff
        qbs build -d thirdparty/qbs -f thirdparty/qbs/qbs.qbs --all-products config:release project.withDocumentation:false project.withDocker:false project.withExamples:false project.withTests:false profile:qt
        
    - name: Build Thunder
      run: |
        qbs install --all-products config:release profile:qt
        7z a -t7z ThunderEngine-windows-x64.7z release/install-root
    
    - name: Upload Thunder
      uses: actions/upload-artifact@v2
      with:
        name: ThunderEngine-windows-x64.7z
        path: ThunderEngine-windows-x64.7z
    
  github:
    name: Upload to GitHub releases
    runs-on: ubuntu-latest
    needs: [version, linux, osx, windows, android, ios, tvos]

    if: github.repository == 'thunder-engine/thunder' && needs.version.outputs.release == 'true'

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ needs.version.outputs.version }}
          draft: true
          prerelease: false

      - name: Download Windows binaries
        id: download-windows
        uses: actions/download-artifact@v2
        with:
          name: ThunderEngine-windows-x64.7z

      - name: Download Linux binaries
        id: download-linux
        uses: actions/download-artifact@v2
        with:
          name: ThunderEngine-linux-x86_64.7z

      - name: Download OSX
        id: download-osx
        uses: actions/download-artifact@v2
        with:
          name: ThunderEngine-macosx-x86_64.7z
      
      - name: Download tvOS
        id: download-tvos
        uses: actions/download-artifact@v2
        with:
          name: ThunderEngine-tvos-arm64.7z
          
      - name: Download iOS
        id: download-ios
        uses: actions/download-artifact@v2
        with:
          name: ThunderEngine-ios-arm64.7z
          
      - name: Download Android
        id: download-android
        uses: actions/download-artifact@v2
        with:
          name: ThunderEngine-android.7z

      - name: Upload Windows
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ThunderEngine-windows-x64.7z
          asset_name: ThunderEngine-windows-x64.7z
          asset_content_type: application/x-7z-compressed

      - name: Upload Linux
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ThunderEngine-linux-x86_64.7z
          asset_name: ThunderEngine-linux-x86_64.7z
          asset_content_type: application/x-7z-compressed

      - name: Upload OSX
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ThunderEngine-macosx-x86_64.7z
          asset_name: ThunderEngine-macosx-x86_64.7z
          asset_content_type: application/x-7z-compressed
          
      - name: Upload tvOS
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ThunderEngine-tvos-arm64.7z
          asset_name: ThunderEngine-tvos-arm64.7z
          asset_content_type: application/x-7z-compressed
          
      - name: Upload iOS
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ThunderEngine-ios-arm64.7z
          asset_name: ThunderEngine-ios-arm64.7z
          asset_content_type: application/x-7z-compressed
          
      - name: Upload Android
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ThunderEngine-android.7z
          asset_name: ThunderEngine-android.7z
          asset_content_type: application/x-7z-compressed